In [37]:
import numpy as np
import pandas as pd

In [38]:
def DRS_point(A):
    n=len(A)
    p=np.zeros(n,dtype=np.int8)
    w=np.zeros(n)
    d=np.zeros(n)
    for i in range(n-1,-1,-1):
        p[i]=i
        w[i]=w[i]+A[i]
        d[i]=d[i]+1
        #print(w[(p[i]+1)]/d[(p[i]+1)])
        if (p[i]<(n-1)):
            if ((w[i]/d[i])<=(w[(p[i]+1)]/d[(p[i]+1)])):
                w[i]=w[i]+w[p[i]+1]
                d[i]=d[i]+d[p[i]+1]
                p[i]=p[p[i]+1]
    return p

In [39]:
s=[0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1]
p=DRS_point(s)
p

array([19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
       19, 19, 19, 23, 23, 23, 23], dtype=int8)

In [40]:
def REPORT_DRS_PART(s,p):
    n=len(s)
    re=[]
    i=0
    while i<=n:
        if(i<len(p)):
            re.append([i,p[i]])
            i=p[i]+1
        else:
            break
    return re

In [41]:
REPORT_DRS_PART(s,p)

[[0, 19], [20, 23]]

In [42]:
def LOCATION(A,L,i,j,p): 
        n=len(A)
        for k in range(int(np.ceil(np.log(L))),-1,-1):
            if (j>=n)or(np.mean(A[(i-1):(j)])>np.mean(A[(j):(p[j]+1)])):
                return j
            if ((p[j]+1)<len(p)):
                if ((p[p[j]+1]+1)<len(p)):
                    if(p[j]<n) and (np.mean(A[(i-1):(p[j]+1)])<=np.mean(A[(p[j]+1):(p[p[j]+1]+1)])):
                        j=p[p[j]+1]+1
        if (p[j]+1)<=len(p):
            if (j<n)and(np.mean(A[(i-1):j])<=np.mean(A[(j):(p[j]+1)])):
                j=p[j]+1
        return j

In [43]:
LOCATION(s,5,0,19,p)

/usr/local/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

19

In [44]:
p

array([19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19,
       19, 19, 19, 23, 23, 23, 23], dtype=int8)

In [45]:
def MAXAVGSEQ(A,L):
    n=len(A)
    p=DRS_point(A)
    re=[]
    for i in range(n-L):
        j=i+L
        if np.mean(A[i:j])<=np.mean(A[(j):(p[j]+1)]):
            j=LOCATION(A,L,i,j,p)
        if j>i:
            re.append([i,j]) 
    re=pd.DataFrame(re,columns=["first","second"])
    re=re.groupby(["second"]).min().reset_index().loc[:,["first","second"]]
    return re

In [49]:
q=MAXAVGSEQ(s,5)
q

/usr/local/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2957: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

   first  second
0      0       5
1      1      20
2     16      21
3     17      22
4     18      23

In [50]:
s

[0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1]

In [51]:
len(s)

24